<!DOCTYPE html>
<html lang="en">
<head>
  <title>Whateatgo_rcmds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>index</h1>
<br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td align=center><B>선택</B></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align=center>
                <form action = "/select" method="post">
                {% csrf_token %}
                    <button name="choice" value="kor">한식</button>
                </form>
            </td>
        </tr>
        <tr>
            <td align=center>
                <form action = "/select" method="post">
                {% csrf_token %}
                    <button name="choice" value="chn">중식</button>
                </form>
            </td>
        </tr>
        <tr>
            <td align=center>
                <form action = "/select" method="post">
                {% csrf_token %}
                    <button name="choice" value="etc">양식</button>
                </form>
            </td>
        </tr>
        <tr>
            <td align=center>
                <form action = "/select" method="post">
                {% csrf_token %}
                    <button name="choice" value="jpn">일식</button>
                </form>
            </td>
        </tr>
        <tr>
            <td align=center>
                <form action = "/select" method="post">
                {% csrf_token %}
                    <button name="choice" value="random">아무거나</button>
                </form>
            </td>
        </tr>     
        </tbody>
    </table>
</div>
</body>